{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(frmadd,{'attr':{'class':'form-horizontal'}}) }}
    <div class="form-group">
        <label for="">{{ form_label(frmadd.title) }}</label>
        {{ form_widget(frmadd.title,{'attr':{'class':'form-control'}}) }}
    </div>
   <div class="form-group">
       <label for=""> {{ form_label(frmadd.disabled) }}</label>
       {{ form_widget(frmadd.disabled) }}
   </div>
    {{  form_end(frmadd) }}
{% endblock %}